<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>939473395907-8ujhdsafo71ssm0hf9gi5r4a698fro1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939473395907-8ujhdsafo71ssm0hf9gi5r4a698fro1i</string>
	<key>API_KEY</key>
	<string>AIzaSyBSWvh2DG4zoaQ2EG01ZMuHZ33qDIaYb_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>939473395907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fork.telegram.Telegram-iOS</string>
	<key>PROJECT_ID</key>
	<string>tempfirebase-6ed90</string>
	<key>STORAGE_BUCKET</key>
	<string>tempfirebase-6ed90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939473395907:ios:8df0866441b4d16d</string>
	<key>DATABASE_URL</key>
	<string>https://tempfirebase-6ed90.firebaseio.com</string>
</dict>
</plist>